<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双色球近期开奖查询</title>
    <link rel="stylesheet" href="public/css.css/">
</head>
<body>
    <div class="content">
        <%for(var i = 0; i < list.length; i++){%>
            <div class="detail">
                <%=list[i].lottery_date%>
            </div>

            <div class="detail2">
                <%=list[i].lottery_res%>
            </div>
        <%}%>
    </div> 

</body>
</html>