<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>彩票首页</title>
    <link rel="stylesheet" href="public/css.css/">
</head>
<body>
    <div class="content">   
        <h2>彩票种类</h2>
        <%for(var i = 0; i < list.length; i++){%>
            <div class="detail">
                <%=list[i].lottery_name%>
            </div>
            
            <div class="detail2">
                <%=list[i].remarks%>
            </div>
        <%}%>
    </div> 
       
    <div class="ssq">
        
            <a href="/ssqquery">双色球中奖查询</a>
            

    </div>
</body>
</html>